@font-face {
  font-family: SofiaPro;
  src: url(fonts/SofiaPro-Medium.woff2);
}

@font-face {
  font-family: SofiaPro-Bold;
  src: url(SofiaProBold.woff2);
}

body {
  font-family: SofiaPro, SofiaPro-Bold;
  padding: 90px 130px;
}

#app {
  width: 100%;
  height: 100%;
}